Repository ferredoxin/QNotified, pull requests merged in 2021-05, with the labels that each got.

#871 refactor isXXX to enum class
  app/src/main/java/cc/ioctl/H.java
  app/src/main/java/cc/ioctl/hook/DefaultBubbleHook.java
  app/src/main/java/cc/ioctl/hook/FavMoreEmo.java
  app/src/main/java/cc/ioctl/hook/FileRecvRedirect.java
  app/src/main/java/cc/ioctl/hook/HideGiftAnim.java
  app/src/main/java/cc/ioctl/hook/HideMiniAppPullEntry.java
  app/src/main/java/cc/ioctl/hook/RepeaterHook.java
  app/src/main/java/cc/ioctl/hook/RoundAvatarHook.java
  app/src/main/java/cc/ioctl/hook/ShowPicGagHook.java
  app/src/main/java/me/ketal/hook/LeftSwipeReplyHook.kt
  app/src/main/java/me/ketal/hook/ShowMsgAt.kt
  app/src/main/java/me/kyuubiran/hook/RemoveDiyCard.kt
  app/src/main/java/me/kyuubiran/hook/RemovePlayTogether.java
  app/src/main/java/me/singleneuron/qn_kernel/data/HostInformationProvider.kt
  app/src/main/java/me/singleneuron/qn_kernel/data/HostSpecies.kt
  app/src/main/java/me/singleneuron/qn_kernel/tlb/ConfigTable.kt
  app/src/main/java/nil/nadph/qnotified/activity/SettingsActivity.java
  app/src/main/java/nil/nadph/qnotified/bridge/QQMessageFacade.java
  app/src/main/java/nil/nadph/qnotified/ui/ResUtils.java
Labels: Kernel

#886 [wip]Revert "turn abortOnError false"
  app/build.gradle
  app/src/main/res/drawable-v24/ic_bg_gradient.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  libs/compiler/build.gradle
  libs/compiler/src/main/java/cn/lliiooll/processors/Dex2CProcessor.java
  libs/compiler/src/main/java/cn/lliiooll/processors/FunctionItemProcessor.java
  libs/compiler/src/main/java/me/singleneuron/qn_kernel/processors/UiDescriptionProcessor.java
  libs/compiler/src/main/resources/META-INF/gradle/incremental.annotation.processors
Labels: Working

#888 Update UiInterface
  app/build.gradle
  app/src/main/java/ltd/nextalone/hook/ChatInputHint.kt
  app/src/main/java/me/kyuubiran/hook/AutoMosaicName.kt
  app/src/main/java/me/kyuubiran/hook/ShowSelfMsgByLeft.kt
  app/src/main/java/me/singleneuron/hook/ForceSystemAlbum.kt
  app/src/main/java/me/singleneuron/hook/ForceSystemCamera.kt
  app/src/main/java/me/singleneuron/hook/ForceSystemFile.kt
  app/src/main/java/me/singleneuron/hook/NewRoundHead.kt
  app/src/main/java/me/singleneuron/hook/NoApplet.kt
  app/src/main/java/me/singleneuron/hook/SpecialCareNewChannel.kt
  app/src/main/java/me/singleneuron/hook/decorator/RegexAntiMeg.kt
  app/src/main/java/me/singleneuron/qn_kernel/base/CommonDelayAbleHookBridge.kt
  app/src/main/java/me/singleneuron/qn_kernel/decorator/BaseDecorator.kt
  app/src/main/java/me/singleneuron/qn_kernel/ui/base/Preference.kt
  app/src/main/java/me/singleneuron/qn_kernel/ui/base/UiInterface.kt
Labels: H, Kernel, UI
